.nav-wrapper {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  padding-right: 30px;
}

.nav-link {
  color: black;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .nav-menu {
    display: none;
  }

  .nav-icon {
    display: block;
  }
}